.emailForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0px 0px 0px;
}
.talkToMe{
    font-family: var(--font-inter);
    font-size: 50px;
    color: var(--neutral-50);
    padding: 0px 0px 40px 0px;
}
.form-box{
    display: flex;
    align-items: center;
    gap: 40px;
}  
.form-box-boxName,.form-box-boxEmail{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
}
label{
    font-size: 19px;
    font-family: var(--font-inter);
    color: var(--neutral-50);
} 
.formEmail-input{
    width: 300px;
    height: 15px;
    padding: 10px;
    background-color: var(--neutral-50);
    border: 1px solid var(--purple-300);
    outline: none;
    border-radius: 50px;
    font-family: var(--font-sora);
}
/*----Box Message-----*/

.form-boxMessage{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 24px 0px 0px 0px;
}
.form-message{
    width: 660px;
    height: 220px;
    padding: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: var(--font-sora);
    font-size: 13px;
    margin: 8px 0px 0px 0px;
}
/*-----Send-----*/
.form-boxSendEmail{
    display: flex;
    align-items: center;
}
.form-boxSendEmail-sendMessage{
    width: 155px;
    height: 35px;
    margin: 6px 0px 0px 0px;  
    background-color: var(--black);
    border: 1px solid var(--neutral-500);
    border-radius: 7px;
    font-family: var(--font-inter);
    color: var(--neutral-50);
    transition: 0.5s;
}
.form-boxSendEmail-sendMessage:hover{
    background-color: var(--neutral-700);
}