.button {
  border-radius: 5px;
  background-color: var(--purple-200);
  text-align: center;
  width: 116px;
  height: 44px;
  font-family: var(--font-inter);
  color: var(--black);
  border: none;
  transition: 0.5s;
}

.button:hover {
  background: var(--neutral-700);
  color: var(--neutral-50);
}
