@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Sora:wght@700&display=swap");

:root {
  --font-inter: "Inter", sans-serif;
  --font-sora: "Sora", sans-serif;
  --neutral-50: #FAFAFA;
  --purple-300: #C4B5FD;
  --neutral-500: #737373;
  --black:#fafafa00;
  --neutral-700: #404040;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: var(--neutral-900, #171717);
}
.Link {
  text-decoration: none;
}
