
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.box2{
    display: flex;
    align-items: center;
    gap: 53.68px;
}
.box2-box1{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: var(--font-inter);
    color: var(--neutral-50, #FAFAFA);
    /* 18 - Paragraph Default */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.navBar-p:hover{
    color: #C4B5FD;
    cursor: pointer;
}
.lua{
    transition: 0.5s;
}
.lua:hover{
    transform: scale(1.3);
}