.cardPhoto{
    position: relative;
    width: 290px;
    height: 394px;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
  }
  .MyPhoto{
    border-radius: 10px;
    width: 270px;
    height: 379px;
  }
  .cardPhoto::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 290px;
    height: 399px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardPhoto::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .cardPhoto p:not(.heading) {
    font-size: 14px;
  }
  
  .cardPhoto p:last-child {
    color: #e81cff;
    font-weight: 600;
  }

  