.AboutMe,
.AboutMe-container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}

.AboutMe-container1-boxTitle {
    padding: 65px 0px 51px 0px;
}

.AboutMe-container1-boxTitle-title {
    color: var(--neutral-50);

    /* H3 - Sora */
    font-family: var(--font-sora);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;

    letter-spacing: -1px;
}

.AboutMe-container1-box2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    width: 85.5%;
}

.MyIMAGE {
    width: 415px;
    height: 538px;
}

.AboutMe-container2 h4,.AboutMe-container1-box2-boxDescription h4 {
    color: var(--neutral-25);

    /* H4 - Sora */
    font-family: var(--font-sora);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 150% */
    letter-spacing: -0.5px;
    width: 43.5%;
}

p {
    color: var(--neutral-100);

    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
}

.AboutMe-container1-box2-boxDescription-description {
    width: 100%;
}

/*------Skills------*/
.skills{
    width: 90%;
}
.AboutMe-container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 170px 0px 0px 0px;
    width: 100%;
}

.AboutMe-container2-box1 {
    padding: 0px 0px 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutMe-container2-box1 h4 {
    width: 200px;
}

.AboutMe-container2-box2 {
    width: 100%;
    text-align: center;
}
.AboutMe-container1-box2-boxDescription h4{
    width: 100%;
}
.AboutMe-container1-box2-boxDescription-description {
    width: 100%;
}

.AboutMe-container2-box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    padding: 36px 0px 0px 0px;
    width: 99%;

 
}

.AboutMe-container2-box3-box1,
.AboutMe-container2-box3-box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;

    height: 90px;
}

.AboutMe-container2-box3-box1-skills,
.AboutMe-container2-box3-box2-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
}
.AboutMe-container2-box3-box2-skills.typescript{
    width:94px;
    height: 77px;
}
.AboutMe-container2-box3-box2-skills.java{
    width:94px;
    height: 90px;
    display: flex;
    align-items: center;
}
.typeScript{
    margin-top: 2px;
    width: 34px;
    height: 34px;
}
.java{
    width: 44px;

}