
.box-Icons{
    border-radius: 5px;
    background: var(--purple-200);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;    
    justify-content: center;
    transition: var(--transition-0_5);
}
.box-Icons:hover{
    background: var(--neutral-50);
}
