*{
    margin: 0px;
    padding: 0px;
}
body{
    background: var(--neutral-900, #171717);
}
.box-Icons{
    border-radius: 5px;
    background: var(--purple-200, #DDD6FE);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;    
    justify-content: center;
    transition: 0.5s;
}
.box-Icons:hover{
    background: var(--neutral-50, #FAFAFA);
}
