.footer {
  display: flex;
  justify-content: center;
  margin: 57px 0px 60px 0px;
  align-items: center;
  flex-direction: column;
  gap: 59px;
}
.footer-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10%;
}
.footer-container1-box1 {
  display: flex;
  align-items: flex-start;
  gap: 26px;
  flex-direction: column;
  width: 70%;
}
.footer-container1-box1-title {
  color: var(--neutral-50);

  /* H5 - Sora */
  font-family: var(--font-sora);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: 0.25px;
}
.footer-container1-box1-paragraph {
  color: var(--neutral-100);

  /* 18 - Paragraph Default */
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  width: 99%;
}
.footer-container1-box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
/*-----Buttons-----*/
.footer-container1-box2-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
/*-----BackToTop-----*/
.footer-container1-box2-backToTop {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  transition: 0.3s;
  width: 209px;
  height: 70px;
  /* background-color: aqua; */
}
.footer-container1-box2-backToTop-paragraph {
  color: var(--neutral-25);

  /* 18 - Paragraph Default */
  font-family: Inter;
  margin-bottom: 0;

}
.footer-container1-box2-backToTop:hover {
  border: 1px solid var(--neutral-500);
  border-radius: 5px;

}
.footer-container1-box2-backToTop-paragraph {
  font-family: var(--font-inter);
}
.footer-container1-box2-backToTop-arrowDown{
  width: 20%;
  /* background-color: rgb(47, 0, 255); */

}
/* Copyright */
.footer-container2-paragraph {
  color: var(--neutral-300);

  /* 16 - Paragraph Small */
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.25px;
}