.projects-container2-box1 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 577px;
    height: 605px;
    border: 1px solid var(--neutral-600);
    border-radius: 2px;
    margin-left: 20px;
}

.projects-container2-box1-box {
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.projects-container2-box-contents1{
    height: 309px;
}
.project1,.content {
    width: 100%;
    height: 100%;
}
.projects-container2-box-contents2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects-container2-box-contents2-title {
    color: #fff;
    font-family: var(--font-sora);
    font-size: 190%;
}

.projects-container2-box-contents2-text {
    font-family: var(--font-inter);
    color: #fff;
    font-size: 90%;
    line-height:100%;
    width: 100%;
}

.projects-container2-box-contents4 {
    margin-top: 15px;
}

.icon.i4{
    margin-left: 9px;
}