.projects-container2-box1 {
    display: flex;
    flex-direction: column;
    width: 477px;
    height: 545px;
    border: 1px solid var(--neutral-600);
    border-radius: 2px;
    gap: 19px;
    margin-left: 20px;
}

.projects-container2-box1-box {
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5%;
}

.project1,.Carrousel {
    width: 477px;
    height: 309px;
}

.projects-container2-box-contents2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects-container2-box-contents2-title {
    color: #fff;
    font-family: var(--font-sora);
    font-size: 190%;
}

.projects-container2-box-contents2-text {
    font-family: var(--font-inter);
    color: #fff;
    font-size: 90%;
    line-height:100%;
    height: 35px;
    width: 99%;
}

.projects-container2-box-contents4 {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.icon {
    width: 44px;
    height: 44px;
}
.icon .i4{
    width: 34px;
    height: 34px;
}