
.projects-container2-box{
    display: flex;
    flex-direction: column;
    width: 477px;
    height: 545px;
    border: 1px solid var(--neutral-600, #525252);
    border-radius: 2px;
    gap: 19px;
    margin-left: 20px ;
}
.projects-container2-box1-box{
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.project1{
    width: 477px;
    height: 309px;
}
.projects-container2-box-contents2{ 
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.projects-container2-box-contents2-title{
    color: #fff;
    font-family: var(--font-sora);
    font-size: 28px;
}
.projects-container2-box-contents2-text{
    font-family: var(--font-inter);
    color: #fff;
}
.projects-container2-box-contents4{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.icon{
    width: 44px;
    height: 44px;
    
}