/*-----Main-----*/

.section-pincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1278px;
    margin: 120px 0px 0px 0px;
    gap: 20px;
}
/*--------------Main-sec1---------------*/
.main-sec1{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.main-sec1-div1{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
/*------Textos-----*/
.title{
    color: var(--neutral-50);

    /* H3 - Sora */
    font-family: var(--font-sora);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 125% */
    letter-spacing: -1px;
    width: 540px;
}
.main-sec1-div1-h4{
    color: var(--purple-300);

    /* H4 - Sora */
    font-family: var(--font-sora);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
    letter-spacing: -0.5px;
    width: 340px;
}
.main-sec1-div2-paragraph{
    color: var(--neutral-100, #F5F5F5);
    font-family: var(--font-inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: -0.25px;
    width: 663px;
}
.main-sec1-div3{
    display: flex;
    align-items: center;
    gap: 25px;
    width: 389px;
}
/*---------Final-Textos---------*/
/*-----Icon-----*/

/*-----IMG-----*/
.main-image{
    width: 398.372px;
    height: 427.574px;
    transform: rotate(0.53deg);
    flex-shrink: 0; 
}
/*------------*/

.main-sec1-div3-box{
    display: flex;
    align-items: center;
    gap: 25px;
}

/*-----Butons-----*/
.main-sec1-div3-box2{
    display: flex;
    align-items: center;
    gap: 25px;
}
.btn-contato,.btn-resume{
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    border: 1.5px solid var(--neutral-500);
    background-color: #fafafa00;
    color: var(--neutral-50);
    transition: 0.5s;
}

.btn-contato:hover,.btn-resume:hover{
    border-radius: 5px;
    background: var(--neutral-700);}

/*----------------*/
/*-----Icone de Seta-----*/

.box-scroll{
    position: absolute;
    top: 90vh;
    left: 48vw;
    display: flex;
    align-items: center;flex-direction: column;
    justify-content: flex-end;
}
.p-scroll{
    color: var(--neutral-300, #D4D4D4);
    text-align: center;

    /* 12 - Paragraph Mobile */
    font-family: var(--font-inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.3px;  
}
.arrowDown{
    width: 24px;
    height: 24px;
}

/*-----Projects-----*/

.projects-container1{
    display: flex;
    justify-content: center;
    margin: 115px 0px 0px 0px;
}
.projects-container1-title{
    font-size: 56px;
    font-family: var(--font-sora);
    color: var(--neutral-50, #FAFAFA);
}
.projects-container3{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 98vw;
    margin: 103px 0px 0px 0px;
}
.projects-container3-box1,.projects-container3-box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*-----AboutMe-----*/
.aboutMe{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 125px;
    justify-content: center;
    margin: 157px 0px 0px 0px;
}
.aboutMe-container1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 19px;
}
.aboutMe-container1-title{
    color: var(--neutral-50, #FAFAFA);

    /* H4 - Sora */
    font-family: var(--font-sora);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
    letter-spacing: -0.5px;
}
.aboutMe-container1-description{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.aboutMe-container1-description-text{
    color: var(--neutral-200, #E5E5E5);

    /* 24 - Paragraph Regular */
    font-family: var(--font-inter);
    font-size: 19px;
    font-style: normal;
    line-height: 36px; /* 150% */
    letter-spacing: -0.25px;
    width: 509px;
}
.aboutMe-container1-readMore{
    border-radius: 5px;
    border: none;
    background: var(--purple-200, #DDD6FE);
    transition: 0.5s;
    font-size: 14px;
    font-family: var(--font-inter);
    width: 118px;
    height: 44px;
    margin: 13px 0px 0px 0px;
}
.aboutMe-container1-readMore:hover{
    background: var(--neutral-50, #FAFAFA);
}
.aboutMe-container2{
    width: 410px;
    height: 536px;
    display: flex;
    align-items: center;
}
.aboutMe-container2::after{
    width: 369px;
    height: 500px;
    border-radius: 5px;
    background: var(--purple-300, #C4B5FD);
    content: '';
    margin: 0px 0px 36px 41px;
}
.MyImage{
    position: absolute;
    margin: 36px 41px 0px 0px;
    width: 369px;
    height: 500px;
    border-radius: 5px;
}
